In [2]:


import pandas as pd
import dateUtils
# dictionary of lists
dict = {'type':["cat", "Dog", "panda", "Goose"],
        'degree': [.65, .09, .2, .01],
        'score':[88, 3, 5, 5,]}

df = pd.DataFrame(dict,
                  index ={'Meow', 'Woof', 'Huff', 'Quack'})

dfCopyDeep = df.copy(deep=True)
dfCopyShallow = df.copy(deep=False)
print('df ====================\n', df,
      '\n\ndfCopyDeep ============= \n', dfCopyDeep,
      '\n\ndfCopyDShallow ========= \n', dfCopyShallow)

df ====================
         type  degree  score
Quack    cat    0.65     88
Woof     Dog    0.09      3
Huff   panda    0.20      5
Meow   Goose    0.01      5

dfCopyDeep =============
         type  degree  score
Quack    cat    0.65     88
Woof     Dog    0.09      3
Huff   panda    0.20      5
Meow   Goose    0.01      5

dfCopyDShallow =========
         type  degree  score
Quack    cat    0.65     88
Woof     Dog    0.09      3
Huff   panda    0.20      5
Meow   Goose    0.01      5

In [122]:
print('==================================\ndf.loc[row_indexer,column_indexer]\n==================================')
print(df.loc['Woof':'Meow','type'])
print(df.loc['Quack','score'])

print('\n==================\ndf["score"]\n==================')
# display(df[0])

print('\n==================\ndf.iloc[:]\n==================')
display(df.iloc[0:2])
display(df.iloc[0,1])

print('\n==================\ndf.at[:]\n==================')
display(df.iloc[0:2])
display(df.iloc[0,1])

==================================
df.loc[row_indexer,column_indexer]
==================================
Woof    panda
Meow    Goose
Name: type, dtype: object
88

==================
df["score"]
==================

==================
df.iloc[:]
==================

==================
df.at[:]
==================

      type  degree  score
Quack  cat    0.65     88
Huff   Dog    0.09      3

0.65

      type  degree  score
Quack  cat    0.65     88
Huff   Dog    0.09      3

0.65

In [123]:
df.at["Woof", 'score'] = 100
dfCopyDeep.at["Woof", 'score'] = 200
dfCopyShallow

        type  degree  score
Quack    cat    0.65     88
Huff     Dog    0.09      3
Woof   panda    0.20    100
Meow   Goose    0.01      5

In [124]:
print('df ====================\n', df,
      '\n\ndfCopyDeep ============= \n', dfCopyDeep,
      '\n\ndfCopyDShallow ========= \n', dfCopyShallow)

df ====================
         type  degree  score
Quack    cat    0.65     88
Huff     Dog    0.09      3
Woof   panda    0.20    100
Meow   Goose    0.01      5

dfCopyDeep =============
         type  degree  score
Quack    cat    0.65     88
Huff     Dog    0.09      3
Woof   panda    0.20    200
Meow   Goose    0.01      5

dfCopyDShallow =========
         type  degree  score
Quack    cat    0.65     88
Huff     Dog    0.09      3
Woof   panda    0.20    100
Meow   Goose    0.01      5

In [3]:
dateUtils.getDayFormat(dateUtils.getDate('20180718'))

'Wed, Jul 18'