In [1]:
import pandas as pd

from yahoofinancials import YahooFinancials

theStock = 'PSMT'

yahoo_financials = YahooFinancials(theStock)

earningsDate = '2018-04-06'

historical_stock_prices = yahoo_financials.get_historical_price_data('2018-03-15', '2018-04-20', 'daily')
priceDF = pd.DataFrame(historical_stock_prices[theStock]['prices'])

print('........')

priceDF

........

,adjclose,close,date,formatted_date,high,low,open,volume
0,79.030548,80.300003,1521120600,2018-03-15,81.849998,79.750000,80.550003,76700
1,79.916306,81.199997,1521207000,2018-03-16,81.900002,80.300003,80.300003,191700
2,79.867111,81.150002,1521466200,2018-03-19,81.449997,79.949997,81.050003,142300
3,80.605247,81.900002,1521552600,2018-03-20,82.250000,81.349998,81.699997,147000
4,80.605247,81.900002,1521639000,2018-03-21,82.300003,81.750000,81.849998,109800
5,81.737068,83.050003,1521725400,2018-03-22,83.500000,81.349998,81.349998,155600
6,81.048134,82.349998,1521811800,2018-03-23,83.650002,82.250000,83.000000,175800
7,80.802086,82.099998,1522071000,2018-03-26,83.199997,80.349998,82.900002,134700
8,80.605247,81.900002,1522157400,2018-03-27,82.900002,81.349998,82.050003,100800
9,81.589439,82.900002,1522243800,2018-03-28,83.349998,81.750000,82.099998,114600
10,82.229164,83.550003,1522330200,2018-03-29,84.050003,82.300003,83.099998,146200
11,81.048134,82.349998,1522675800,2018-04-02,83.500000,81.900002,83.349998,109800
12,80.457619,81.750000,1522762200,2018-04-03,83.199997,81.150002,82.750000,142900
13,82.524422,83.849998,1522848600,2018-04-04,84.150002,81.250000,81.250000,110800
14,82.327583,83.650002,1522935000,2018-04-05,84.449997,83.000000,84.000000,187000
15,86.835175,88.230003,1523021400,2018-04-06,93.550003,85.599998,87.750000,711600
16,86.608810,88.000000,1523280600,2018-04-09,88.699997,87.150002,88.250000,269500
17,86.707230,88.099998,1523367000,2018-04-10,88.449997,87.349998,88.150002,191700
18,87.740631,89.150002,1523453400,2018-04-11,89.400002,87.300003,87.800003,145000
19,87.100906,88.500000,1523539800,2018-04-12,89.800003,88.449997,89.199997,146500
20,87.543793,88.949997,1523626200,2018-04-13,89.250000,87.800003,88.449997,102300
21,88.724823,90.150002,1523885400,2018-04-16,90.839996,88.900002,89.150002,108400
22,89.069290,90.500000,1523971800,2018-04-17,91.050003,89.949997,89.949997,103300
23,89.315338,90.750000,1524058200,2018-04-18,92.199997,90.550003,90.949997,135200
24,87.888268,89.300003,1524144600,2018-04-19,91.050003,89.199997,90.650002,94300